name: Python package

on:
  push:
    branches-ignore:
    - renovate/**
  pull_request:

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    strategy:
      matrix:
        python-version:
        - '3.10'
        - '3.11'
        - '3.12'
        - '3.13'
        - '3.14'
        - 3.14t
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ matrix.python-version }}
    - uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5
      with:
        version: 0.9.16
    - name: Compile
      env:
        CFLAGS: -Wall -Wextra -Wno-unused-parameter -Werror
      run: uv build
    - name: Install deps
      run: uv sync --only-group test
    - name: Install
      run: uv pip install dist/*.whl
    - name: Test
      run: uv run --only-group test pytest test_siphashc.py README.rst
    - name: Benchmark
      run: uv run benchmark.py
permissions:
  contents: read
