name: Distribution

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheel for ${{ matrix.config.platform }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      matrix:
        config:
        - os: ubuntu-24.04
          arch: x86_64
          platform: manylinux_x86_64
        - os: ubuntu-24.04-arm
          arch: aarch64
          platform: manylinux_aarch64
        - os: macos-15-intel
          arch: x86_64
          platform: macosx_x86_64
        - os: macos-15
          arch: arm64
          platform: macosx_arm64
        - os: windows-2022
          arch: AMD64
          platform: win_amd64

    steps:
    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      with:
        persist-credentials: false
    - name: Set up QEMU
      if: runner.os == 'Linux'
      uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      with:
        platforms: all

    - name: Build wheel
      uses: pypa/cibuildwheel@63fd63b352a9a8bdcc24791c9dbee952ee9a8abc # v3.3.0
      env:
        CIBW_ARCHS: ${{ matrix.config.arch }}
        CIBW_BUILD: cp*-${{ matrix.config.platform }}

    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        path: ./wheelhouse/*.whl
        name: wheel-${{ matrix.config.platform }}

  sdist:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        persist-credentials: false
    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: '3.14'
    - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      with:
        version: 0.9.12
    - name: build
      run: uv build --sdist
    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        path: dist/*.tar.gz
        name: sdist

  check:
    needs:
    - sdist
    - build_wheels
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        persist-credentials: false
    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: '3.14'
    - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      with:
        version: 0.9.12
    - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        path: dist
        merge-multiple: true
    - run: uvx twine check --strict dist/*
    - run: uvx abi3audit dist/*abi3*.whl
    - run: uvx pydistcheck --inspect dist/*
    - run: uvx check-wheel-contents dist/*.whl
    - run: uvx check-manifest -v

  release_pypi:
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags') && github.repository == 'WeblateOrg/siphashc'
    name: Publish release to PyPI
    needs:
    - check
    runs-on: ubuntu-24.04
    permissions:
      # this permission is mandatory for trusted publishing
      id-token: write
    steps:
    - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        path: dist
        merge-multiple: true

    - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      with:
        version: 0.9.12
    - name: Publish package distributions to PyPI
      run: uv publish --trusted-publishing always

  release_github:
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags') && github.repository == 'WeblateOrg/siphashc'
    runs-on: ubuntu-24.04
    name: Create release on GitHub
    permissions:
      contents: write
    needs:
    - check
    steps:
    - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        path: dist
        merge-multiple: true
    - uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
      with:
        generateReleaseNotes: true
        artifacts: dist/*

permissions:
  contents: read
